*{margin:0;padding:0;box-sizing:border-box}body{height:100%;width:100%;font-family:ralewayregular}.fw{float:left;width:100%}a,button{outline:0;text-decoration:none}input,select,textarea{outline:0;box-shadow:none}.pad-left{padding-left:0}.pad-right{padding-right:0}.pad-none{padding:0}.site-header{padding:10px 0}.site-header .site-logo{display:inline-block;vertical-align:middle}header .navbar{background:0 0;border:0;margin:0;min-height:1px;text-align:right;float:right}header .navbar-collapse{padding:0}header .navbar-collapse a{background:0 0!important;padding:0;color:#000!important;font-size:15px;font-family:ralewaymedium;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s}header .navbar-collapse a:hover{color:#ff463b!important}header .navbar-collapse li{display:inline-block;vertical-align:middle;margin-right:45px}header .navbar-collapse li:last-child{margin:0}.menu-sec{margin-top:22px}.button-red a,header .navbar-collapse li.button-red a{background:red!important;padding:10px 15px;min-width:140px;text-align:center;border-radius:4px;color:#fff!important;margin-top:-10px;display:inline-block;vertical-align:middle;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;font-size:15px!important;text-decoration:none!important}.button-red a:hover,header .navbar-collapse li.button-red a:hover{background:#333!important;color:#fff!important}.our-protfolio-sec{padding:50px 80px 30px;height:380px}.site_heading{font-size:18px;font-family:ralewaymedium;color:#000;margin:0}.site_heading span{font-family:ralewaybold}h2.site_heading.lg-heading{text-align:center;font-size:37px}.protpolio-logo-slider .slick-arrow{display:none!important}.adventures-club-sec{margin-top:40px;width:86%;display:inline-block;vertical-align:middle;text-align:left;background-image:url(../images/portfolio-bg.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;position:relative;text-align:center;border-radius:15px}.adventures-club-sec1{background-image:url(../images/adventurebg.jpg)!important}.adventures-club-sec2{background-image:url(../images/alphaDerabg.jpg)!important}.adventures-club-sec3{background-image:url(../images/shriekbg.jpg)!important}.adventures-club-sec4{background-image:url(../images/digbizbg.jpg)!important}.adventures-club-sec5{background-image:url(../images/kampus.png)!important;background-size:120% 340%}.adventures-club-sec6{background-image:url(../images/portfolio-bg.jpg)!important}.adventures-club-sec1:after,.adventures-club-sec2:after,.adventures-club-sec3:after,.adventures-club-sec4:after{display:none}.adventures-club-sec:after{position:absolute;content:"";top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.8);border-radius:7px}.adventures-club-sec .adventures-club-logo{position:relative;z-index:9}.adventures-club-sec .adventures-club-content{position:relative;z-index:9;width:544px;margin:0 auto;text-align:left;display:inline-block;padding:130px 0}.adventures-club-sec .adventures-club-logo{position:absolute;z-index:9;left:-65px;background:#194978;width:265px;height:430px;line-height:320px;border:0;border-radius:25px;box-shadow:0 0 8px rgb(0 0 0 / 30%);top:50%;margin-top:-215px}.adventures-club-sec .adventures-club-logo figure{margin:0}.adventures-club-sec .adventures-club-logo.blue-drk-bg{background:#194978}.adventures-club-sec .adventures-club-logo.green-drk-bg{background:#197839}.adventures-club-sec .adventures-club-logo.cofee-drk-bg{background:#783919}.adventures-club-sec .adventures-club-logo.blue-bgn-bg{background:#321978}.adventures-club-sec .adventures-club-content .meddile-heading{color:#fff;font-size:30px;margin-bottom:15px}.site-pra{font-size:18px;color:#000;line-height:28px;font-family:ralewayregular}.adventures-club-sec .adventures-club-content .site-pra{color:#fff}.site_heading.small-heading{font-size:22px;color:#000;margin-bottom:15px;margin-top:15px}.adventures-club-sec .adventures-club-content .site_heading.small-heading{color:#fff;margin-bottom:15px;margin-top:15px}.we-did-contant{list-style:none;margin:0;padding:0}.we-did-contant li{font-size:16px;color:#fff;font-family:ralewayregular;padding-left:15px;position:relative;margin-bottom:4px}.we-did-contant li:after{position:absolute;left:0;content:"";width:5px;height:5px;background:#fff;top:6px;border-radius:10px}.view-arrow-btn .red-view-text{color:#fff;letter-spacing:.5px;font-size:16px;display:inline-block;vertical-align:middle;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;text-decoration:none}.view-arrow-btn .red-view-text:hover{color:#fff}.red-view-text span{margin-left:8px;vertical-align:middle;font-size:18px;display:inline-block}.view-arrow-btn{margin-top:15px}.adventures-club-sec.club-right-logo .adventures-club-logo{left:auto;right:-65px}.adventures-club-right{float:right}.gat-newslatter{background:#ececec;padding:35px 0;margin-top:50px;margin-bottom:10px}.gat-newslatter h3{font-size:20px;font-family:ralewaybold;color:#000}.gat-newslatter a{min-width:200px;margin-left:60px}span.button-red{display:inline-block;vertical-align:middle}.site-footer{margin-top:50px;margin-bottom:40px}.site-footer .footer-heding{font-size:16px;color:#000;font-family:ralewaybold;margin-bottom:20px}.site-footer p{font-size:14px;color:#000;line-height:24px;font-family:ralewaymedium;margin-bottom:8px}.site-footer p a{color:red;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s}.site-footer p a:hover{color:#000}.footer-menu{list-style:none;margin:0;padding:0;float:left;width:100%;text-align:left}.footer-menu li{float:left;width:100%;margin-bottom:10px;position:relative;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s}.footer-menu li a{color:#000;font-family:ralewaymedium;font-size:14px;text-decoration:none;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;display:inline-block;position:relative}.footer-menu li:after{transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;position:absolute;top:0;left:0;content:"";width:5px;height:5px;background:#000}.footer-menu li a:hover{color:red;margin-left:13px}.footer-menu li:after{position:absolute;top:7px;left:0;content:"";width:5px;height:5px;background:#000;border-radius:10px;opacity:0}.footer-menu li:hover:after{opacity:1}.blog-card-sec{margin:60px 0 0}.blog-card-sec h3{margin:0 0 70px;color:#000;font-size:24px;font-family:ralewaymedium;line-height:32px}.blog-card-cont .crad-img{height:235px;line-height:235px;background:#efefef;text-align:center;display:inline-block;width:100%;overflow:hidden}.blog-card-cont{width:250px;float:none;display:inline-block;vertical-align:middle}.card-wapper{width:750px;display:inline-block;vertical-align:middle}.blog-card-cont{width:250px;float:none;display:inline-block;vertical-align:middle;box-shadow:0 0 8px rgb(0 0 0 / 15%);margin-bottom:80px;overflow:hidden;border-radius:5px}.blog-card-cont .card-cont-sec{padding:10px 15px;text-align:left}.blog-card-cont .card-cont-sec .site-pra{font-size:14px;line-height:18px;margin-bottom:6px;font-family:ralewaymedium}.card-cont-sec .meddile-heading{font-family:ralewaybold;font-size:17px}.card-cont-sec .date-text{margin-bottom:0;margin-top:6px;color:#c7c7c7;font-size:13px}.card-cont-sec .small-heading.clr-black{font-size:14px;margin:6px 0;font-family:ralewaybold;min-height:18px}.blog-card-cont .crad-img img{max-width:100%;transition:all .5s ease 0s;-webkit-transition:all .5s ease 0s;-ms-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s}.blog-card-cont:hover .crad-img img{transform:scale(1.1)}.blog-detail-cont h3{margin:0}.blog-card-sec h3.bold-text{font-family:ralewaybold;font-size:24px}.blog-detail-cont h3{font-size:20px;font-family:ralewaybold}.blog-detail-cont ul{list-style:none;margin:20px 0;padding:0}.blog-detail-cont .crad-img{width:100%;display:inline-block;text-align:center;background:#efefef;padding:40px 0;margin-top:10px;margin-bottom:60px}.card-cont-sec.blog-detail-cont .date-text{color:#000}.blog-detail-cont{margin-bottom:60px}.blog-detail-pg .blog-card-cont{margin-bottom:40px}.protpolio-detail-sec{margin-top:70px}.protpolio-detail-sec .bold-text-prot{font-family:ralewaybold;font-size:22px;line-height:34px;color:#000;letter-spacing:1px}.gallery-bolg img{vertical-align:middle}.gallery-bolg .img-responsive{display:block;max-width:100%;height:auto}.gallery-bolg.grid article{background-color:#fff;display:block;float:left;margin:1%;width:19.2%}section#grid-container{padding:0 95px;display:inline-block}section#grid-container{padding:0 95px;display:inline-block;margin-top:50px;margin-bottom:30px}@media (max-width:1024px){.gallery-bolg .grid article{width:31.3%}}@media (max-width:767px){.gallery-bolg .grid article{width:48%}}@media (max-width:479px){.gallery-bolg .grid article{margin:2% 0;width:100%}}.protpolio-logo-slider .slick-next,.protpolio-logo-slider .slick-prev{position:absolute;top:135%;font-size:1.8rem}.protpolio-logo-slider .slick-prev{left:0}.protpolio-logo-slider .slick-next{right:0}.protpolio-logo-slider .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.protpolio-logo-slider .slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.protpolio-logo-slider .slick-list:focus{outline:0}.protpolio-logo-slider .slick-list.dragging{cursor:pointer;cursor:hand}.protpolio-logo-slider .slick-slider .slick-list,.protpolio-logo-slider .slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.protpolio-logo-slider .slick-track{position:relative;top:0;left:0;display:block}.protpolio-logo-slider .slick-track:before,.slick-track:after{display:table;content:''}.protpolio-logo-slider .slick-track:after{clear:both}.protpolio-logo-slider .slick-loading .slick-track{visibility:hidden}.protpolio-logo-slider .slick-slide{display:none;float:left;height:100%;min-height:1px}.protpolio-logo-slider [dir=rtl] .slick-slide{float:right}.protpolio-logo-slider .slick-slide img{display:block}.protpolio-logo-slider .slick-slide.slick-loading img{display:none}.protpolio-logo-slider .slick-slide.dragging img{pointer-events:none}.protpolio-logo-slider .slick-initialized .slick-slide{display:block}.protpolio-logo-slider .slick-loading .slick-slide{visibility:hidden}.protpolio-logo-slider .slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.protpolio-logo-slider .slick-arrow.slick-hidden{display:none}.protpolio-logo-slider .slide{transition:filter .4s;margin:0 40px}.protpolio-logo-slider .fas{color:#96bd0b}.protpolio-logo-slider .slick-prev{left:0}.protpolio-logo-slider .slick-next,.protpolio-logo-slider .slick-prev{position:absolute;top:35%;font-size:1.8rem;display:none}.blog-detail-cont h5{font-size:15px;font-family:ralewaybold}li.site-pra{position:relative;padding-left:22px;margin-bottom:15px}.abc-text li.site-pra{position:relative;padding-left:22px}.blog-detail-cont ul li.site-pra span{font-family:ralewaybold;float:left;margin-right:15px;position:absolute;left:0}.protpolio-logo-slider .slick-slide{text-align:center;height:205px;background:#eee;padding:52px 0 0;overflow:hidden;border-radius:200px;line-height:205px!important;width:205px!important}.protpolio-logo-slider .slick-slide img{width:105px;height:105px;margin:0 auto;line-height:205px}.protpolio-logo-slider .slick-list{margin-top:50px;margin-bottom:40px}.card-wapper .col-md-6.col-sm-6.col-xs-12{width:25%}.card-wapper{width:100%}section.fw.our-protfolio-sec.text-center{padding:50px 0 30px;height:auto}section.fw.our-protfolio-sec.protpolio-logo-slider{padding:50px 80px 30px!important;height:380px!important}.ct-newsletter-layout1 form.newsletter .tnp-field-button .tnp-button{top:28px!important}@media(max-width:1199px){.adventures-club-sec{width:88%}.adventures-club-sec .adventures-club-content{padding:130px 15px}.gallery-bolg.grid article{width:18.5%}.card-wapper .col-md-6.col-sm-6.col-xs-12{width:33.33%}}@media(max-width:1055px){.gallery-bolg.grid article{width:18%}}@media(max-width:991px){.our-protfolio-sec{padding:30px 0 10px}.gat-newslatter{padding:15px 0}.adventures-club-sec .adventures-club-logo{left:-35px}.adventures-club-content{width:100%!important;padding-left:180px!important}.adventures-club-sec.club-right-logo .adventures-club-content{padding-right:180px;padding-left:15px!important}.adventures-club-sec.club-right-logo .adventures-club-logo{left:auto;right:-35px}.adventures-club-sec{margin-top:40px}.protpolio-logo-slider .slick-slide{text-align:center;height:auto;background:0 0;padding:20px 0 0;overflow:hidden;border-radius:0;line-height:normal!important;width:auto!important}.protpolio-logo-slider .slick-slide img{width:auto;height:auto;margin:0 auto;line-height:normal}.protpolio-logo-slider .slick-list{margin-top:30px;margin-bottom:20px}.protpolio-logo-slider .trigger.section{height:150px}.gallery-bolg.grid article{width:16%}section#grid-container{padding:0 95px 0 115px}.card-wapper .col-md-6.col-sm-6.col-xs-12{width:50%}}@media(max-width:767px){.menu-sec{margin-top:7px}.navbar-default .navbar-toggle{border-color:#ff1b0c}.navbar-toggle{background-color:#ff1b0c}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#3b40c6}.menu-sec{width:100%;margin-top:-57px}header .navbar{width:100%}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border:0;box-shadow:none}.menu-sec ul.nav.navbar-nav{margin:20px 0 0;background:red;border-radius:4px}header .navbar-collapse li{margin-right:0;width:100%;text-align:left;padding:0;border-bottom:1px solid #fff}header .navbar-collapse a{padding:9px 15px 7px;color:#fff!important}.button-red a,header .navbar-collapse li.button-red a{padding:8px 15px;min-width:100%;margin-top:0;text-align:left}.adventures-club-sec .adventures-club-logo{position:static;width:100%;height:220px;line-height:220px;margin-top:0;margin-bottom:30px}.adventures-club-sec{margin-top:40px;background:0 0}.adventures-club-sec .adventures-club-content{padding:30px 15px!important;width:100%!important;background:#000;border-radius:4px}.adventures-club-right{float:right;width:100%}.adventures-club-sec .adventures-club-logo{line-height:200px}.adventures-club-sec{margin-top:20px}.gat-newslatter h3{margin:0}.button-red a,header .navbar-collapse li.button-red a{margin:0}.button-red{width:100%;margin-top:10px;text-align:center}.button-red a,header .navbar-collapse li.button-red a{min-width:165px;margin-top:0;text-align:center;margin:0}.gat-newslatter{margin-top:30px;margin-bottom:10px}.site-footer .footer-heding{margin-bottom:10px}.adventures-club-sec:after{opacity:0}.site-footer{margin-top:20px}li.button-red a{width:100%;text-align:left!important}.site-footer{margin-bottom:10px}.site-header{border-bottom:1px solid #e8e6e6}.adventures-club-sec{width:100%}.site-footer{background:#fbfbfb}.site-footer .col-md-4{padding-top:20px;margin-top:20px;border-top:1px solid #ddd}.site-footer .col-md-4:first-child{border-top:0;margin-top:0}.card-wapper{width:100%;padding:0 15px}.blog-card-sec{margin:30px 0 0}.blog-card-sec h3.bold-text{font-size:16px;line-height:24px;margin:0 0 20px}.blog-detail-cont .crad-img img{width:100%}.blog-detail-cont .crad-img{margin-bottom:20px}.site-pra{font-size:14px;line-height:24px}.blog-detail-cont h3{font-size:16px;font-family:ralewaybold;line-height:24px;margin:0 0 5px}.blog-card-cont{width:100%;margin:0 0 50px}.blog-card-cont .crad-img img{width:100%}.navbar-toggle{margin-right:0}br{display:none}.blog-detail-cont{margin-bottom:40px}.card-cont-sec .meddile-heading{font-size:15px}.blog-card-sec h3{font-size:20px;line-height:30px}.protpolio-detail-sec .bold-text-prot{font-size:16px;line-height:28px;letter-spacing:0}section#grid-container{padding:0 15px;margin:30px 0}.protpolio-detail-sec{margin-top:40px}.protpolio-logo-slider .slick-slide img{width:125px;object-fit:contain}.site-header .site-logo{position:relative;z-index:99}.our-protfolio-sec{padding:50px 0 10px}.protpolio-logo-slider .slick-slide{text-align:center;height:auto;background:0 0;padding:20px 0 0;overflow:hidden;border-radius:0;line-height:normal!important;width:auto!important}.protpolio-logo-slider .slick-slide img{width:auto;height:auto;margin:0 auto;line-height:normal}.protpolio-logo-slider .slick-list{margin-top:30px;margin-bottom:20px}.protpolio-logo-slider .trigger.section{height:170px;overflow:hidden}.gallery-bolg.grid article{width:20.5%}}.site-footer-custom{float:left;width:100%!important;margin-top:-36px}.site-footer-custom .container{width:100%;max-width:100%}li.dropdown.language-selector{height:40px;border-radius:4px;padding:4px;top:0;float:right;list-style:none;font-weight:400;color:#262626}.language-selector .dropdown-toggle::after{display:none}.language-selector .dropdown-menu>li>a{padding:5px 10px;margin-right:0}.language-selector .dropdown-menu{position:absolute;top:93%}.dropdown.language-selector:hover .dropdown-menu{display:block!important}.getconbtnbx .language-selector .dropdown-menu{left:auto;right:28px;top:48px;border:0;min-width:179px;padding:10px 10px 10px 10px;border-bottom:2px solid #279eff;border-radius:8px;box-shadow:0 10px 40px 0 rgb(39 158 255 / 15%)}.language-selector img{width:20px}
.site-footer-custom .container .vc_row.wpb_row {
    width: auto !important;
    margin: 0 -15px;
    left: 0 !important;
}
.site-footer-custom .container {
    max-width: 100%;
}
li.dropdown.language-selector{min-width: 145px;}
li.dropdown.language-selector div#google_translate_element , li.dropdown.language-selector  .skiptranslate.goog-te-gadget {
    width: 100%;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple {
    min-width: 146px;
    width: 100%;
}
body.home_page_admin {
    top: 0 !important;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple a.goog-te-menu-value > span:first-child {
    min-width: 95px;
    display: inline-block;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple a.goog-te-menu-value {
    width: 100%;
    display: inline-block;
    min-width: 130px;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple span {
    display: inline-block !important;
}
.header-top-info .header-info-item {
    margin-top: 9px;
    display: inline-block;
}
.home_page_admin .vc_custom_1566283674686 .grid-item-inner:hover .item-content {
    color: #fff !important;
}
.ct-carousel-service1 .grid-item-inner:after{
    background-image: -webkit-linear-gradient(
        25deg
        ,#3b40c6 0,#60ddff 100%);
            background-image: -moz-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: -ms-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: -o-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: linear-gradient(
        25deg
        ,#3b40c6 0,#60ddff 100%);
}

.status-publish .owl-nav.disabled {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 100%;
    left: 0;
}
.status-publish .owl-nav.disabled .owl-prev {
    float: left;
    margin-left: -25px;
}
.status-publish .owl-nav.disabled .owl-next {
    float: right;
    margin-right: -25px;
}
.ct-features .grid-item-inner {
    min-height: 280px;
    float: left;
    width: 100%;
}
.thrdpartyreview_icon {
    width: 100%;
    float: left;
    margin-top: 18px;
}
.thrdpartyreview_icon a {
    display: inline-block;
    vertical-align: middle;
}
.thrdpartyreview_icon li {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
        margin: 0 3px;
}
.thrdpartyreview_icon li:first-child {
    width: 132px;
}
.ct-newsletter-layout1.inputportfolio_input form.newsletter .tnp-field-button input.tnp-button {
    top: 0 !important;
}


/*new page css */
.profile-banner h3 {
    font-size: 73px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 80px;
    font-family: 'Helvetica';
    font-weight: bold;
}
.profile-banner h3 span {
    color: #FF2B50;
}
.profile-banner h3 small {
    color: #3742FA;
    font-weight: bold;
    font-size: 73px;
}
.profile-banner p {
    font-size: 23px;
    color: #000;
    font-family: 'Helvetica';
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}
.profile-banner {
    padding: 0 0;
    background-image: url(../images/profile-banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 0px);
    min-height: -webkit-calc(100vh - 0px);
    min-height: -ms-calc(100vh - 0px);
    min-height: -moz-calc(100vh - 0px);
    display: table;
    width: 100%;
}
.profile-banner-innercont {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.profile-banner-innercont .container {
    margin-top: 50px;
}
/* vertical new slider css start here */

/* vertical new slider css start here */

/*------------------------------ vertical slider css start here ----------------------------*/
.digbizcard-sec {
    position: relative;
}
.heading {
    font-size: 35px;
    font-family: 'Helvetica';
    font-weight: bold;
    margin: 0;
}
.digbizcard-sec h4 {
    font-size: 18px;
    font-family: 'Helvetica';               
    font-weight: bold;
    padding: 20px 0;
    margin: 0;
}
.digbizcard-sec h5 {
    font-size: 18px;
    font-family: 'Helvetica';
    font-weight: bold;
    margin: 0 0 20px 0;
}
.digbizcard-sec p {
    font-size: 15px;
    font-family: 'Helvetica';
    padding-right: 100px;
}
.digbizcard-sec a {
    background: black;
    color: white;
    padding: 12px 20px;
    display: inline-block;
    min-width: 220px;
    height: auto;
    line-height: 1;
    font-size: 15px;
    font-family: 'montserratsemibold';
    transition: 0.3s;
    border-radius: 5px;
}
.digbizcard-sec a i {
    margin-left: 35px;
}
.digbizcard-sec a:hover {
    background: #FF2B50;
    color: white;
    text-decoration: none;
}
.carousel .carousel-item {
    padding: 100px 0;
}
.digbizcard-sec .col-md-6 {
    padding: 0;
}
.digbizcard-sec img {
    width: 100%;
}
.digbizcard-sec .row {
    align-items: center;
    margin: 0;
}
.digbizcard-sec figure {
    margin: 0;
}
.digbizcard-sec .profile-picture {
    position: absolute;
    left: -100px;
    top: 0;
    height:100%;
    display: flex;
    align-items: center;
}
.myslider.slick-slider {
    background-image: url(../images/dig_biz_bg.png);
    padding: 70px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.profile-picture img {
    min-width: 115%;
}
.myslider .item {
    width: 100%;
    position: relative;
  }
  .myslider .item h2 {
    color: #fff;
    font-size: 8vw;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  
 .digbizcard-slider .slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    margin: 0;
  }
 .digbizcard-slider .slick-dots li {
    list-style: none;
    margin: 0px 0 3px;
}
 .digbizcard-slider .slick-dots button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    background-color: transparent;
    text-indent: -9999px;
    outline: 0;
    border: 1px solid #000;
    line-height: normal;
    padding: 0;
}
.digbizcard-slider .slick-dots button:hover {
    background-color: #000;
  }
 .digbizcard-slider .slick-dots li.slick-active button {
    height: 24px;
    border-radius: 5px;
    background: #000;
}
.digbizcard-slider .slick-dots li.slick-active {
    margin-bottom: 15px;
}
 .digbizcard-slider .slick-slide {
    height: 100vh !important;
  }
  /* Slider */
 .digbizcard-slider .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
 .digbizcard-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 550px !important;
}
 .digbizcard-slider .slick-list:focus {
    outline: none;
  }
 .digbizcard-slider .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
 .digbizcard-slider .slick-slider .slick-track,
 .digbizcard-slider .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
  }
 .digbizcard-slider .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }
 .digbizcard-slider .slick-track:before, .digbizcard-slider .slick-track:after {
    content: "";
    display: table;
  }
  .digbizcard-slider .slick-track:after {
    clear: both;
  }
  .digbizcard-slider .slick-loading .slick-track {
    visibility: hidden;
  }
  .digbizcard-slider .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
  }
  [dir=rtl] .slick-slide {
    float: right;
  }
  .digbizcard-slider .slick-slide img {
    display: block;
  }
  .digbizcard-slider .slick-slide.slick-loading img {
    display: none;
  }
  .digbizcard-slider .slick-slide.dragging img {
    pointer-events: none;
  }
  .digbizcard-slider .slick-initialized .slick-slide {
    display: block;
  }
  .digbizcard-slider .slick-loading .slick-slide {
    visibility: hidden;
  }
  .digbizcard-slider .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .digbizcard-slider .slick-arrow.slick-hidden {
    display: none;
  }
  .contant-part {
    margin-top: -50px;
    float:left;
    width:100%;
}
.adventure-slider.slick-slider {
    background-image: url(../images/adventure_club_bg.png);
}
.white-color{
    color: #fff;
}
.adventure-slider .white-btn{
    background-color: #fff;
    color: #000;
}
/*------------------------------ vertical slider end start here ----------------------------*/

.adventure-slider.digbizcard-slider .slick-list, .shriek-slider.digbizcard-slider .slick-list {
    height: 500px !important;
}
.digbizcard-slider.adventure-slider .slick-slide img, .shriek-slider .slick-slide img {
    width: auto;
    margin: 0 auto;
}
.adventure-slider.digbizcard-slider .slick-dots {
    right: auto;
    left: 5%;
}
.adventure-slider .contant-part {
    padding-left: 60px;
}
.adventure-slider .digbizcard-sec p {
    padding-right: 40px;
}
.adventure-slider.digbizcard-slider .slick-dots button {
    border: 1px solid #fff;
}
.adventure-slider.digbizcard-slider .slick-dots li.slick-active button {
    background: #fff;
}
.watchmarket-slider.slick-slider {
    background-image: url(../images/watch_market_bg.png);
}                                            
.dura-drive .myslider.slick-slider {
    background-image: url(../images/dura_drive_bg.png);
}                                                       
.adventure-slider .contant-part, .adventure-slider .contant-part, .shriek-slider .contant-part {
    margin-top: 0;
}
.shriek-slider.myslider.slick-slider {
    background-image: url(../images/shriek_bg.png);
}
.internify-slider .digbizcard-sec .profile-picture {
    left: auto;
    right: 0;
}                                                               
.internify-slider .contant-part {
    margin-top: 90px;
    padding-left: 50px;
}
.internify-slider .digbizcard-sec p {
    padding-right: 50px;
}
.internify-slider.digbizcard-slider .slick-dots {
    right: auto;
    left: 5%;
}          
.internify-slider.myslider.slick-slider {
    background-image: url(../images/internify_bg.png);
}    
.internify-slider.digbizcard-slider .slick-dots button {
    border: 1px solid #fff;
}
.internify-slider.digbizcard-slider .slick-dots li.slick-active button {
    background: #fff;
}
.alphadera-slider.myslider.slick-slider {
    background-image: url(../images/alfa_dera_labs_bg.png);
}  
.shopaholicsale-slider.myslider.slick-slider {
    background-image: url(../images/shopaholicsale_bg.png);
}
.shopaholicsale-slider .contant-part a.white-btn {
    background: #fff;
    color: #000;
}
/*.animetid-arrow {
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 40px;
    margin-left: -30px;
    top: auto;
    text-align: center;
    cursor: pointer;
}
.animetid-arrow a{
    display: inline-block;
    vertical-align: bottom;
}
.animetid-arrow img {
    width: 25px;
    display: inline-block;
    vertical-align: bottom;
}*/


.animetid-arrow .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 0;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 95px !important;
    cursor: pointer;
    z-index: 99;
}


.animetid-arrow .m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
   
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.animetid-arrow .unu
{
  margin-top: 1px;
}

.animetid-arrow .unu, .animetid-arrow .doi, .animetid-arrow .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.animetid-arrow .unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.animetid-arrow .doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.animetid-arrow .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.animetid-arrow .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid #000;
    top: 170px;
    background: #fff;
    display: inline-block;
}

.animetid-arrow .wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #000;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.animetid-arrow .wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*new css */

.header_sec figure {
    margin-bottom: 0 !important;
}
.profile-banner{position: relative;}


.portfolio-bodycls header.header-main {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99;
}
.portfolio-bodycls footer {
    display: none;
}
#myVerticalCarousel {
    height: 100%;
    margin: 0;
}
.digbizcard-slider .myslider {
    display: table;
    min-height: 100vh;
    width: 100%;
}
.digbizcard-slider .myslider .digbizcard-sec {
    display: table-cell;
    vertical-align: middle;
}
.digbizcard-sec figure img {
    width: 100% !important;
    vertical-align: middle;
    display: table-cell;
    min-width: 105%;
}

.digbizcard-sec figure {
    margin: 0;
    display: table;
    vertical-align: middle;
}

.portfolio-bodycls header.header-main div#header-top {
    display: none;
}
.digbizcard-slider .myslider .digbizcard-sec .profile-picture figure {
    margin-top: -40px;
}
.adventure-slider .contant-part, .adventure-slider .contant-part, .shriek-slider .contant-part {
    margin-top: -25px;
}
.adventure-slider.slider-digbiz2 .col-md-6 {
    margin-top: -50px;
}
.dura-drive.slider-digbiz4 figure {
    margin-top: -45px;
}
.slick-slider.slider-digbiz5 .digbizcard-sec {
    margin-top: 55px;
}
.internify-slider.slider-digbiz6 {
    display: table;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    height: 100vh;
}
.internify-slider.slider-digbiz6 .digbizcard-sec {
    display: table-cell;
    vertical-align: middle;
}
.internify-slider .digbizcard-sec .profile-picture figure {
    margin-top: 100px;
}
.alphadera-slider.myslider.slick-slider {
    padding: 0;
    display: table;
    width: 100%;
    vertical-align: middle;
}
.alphadera-slider.myslider.slick-slider .digbizcard-sec {
    display: table-cell;
    vertical-align: middle;
}
.alphadera-slider.myslider.slick-slider .digbizcard-sec figure {
    margin-top: 90px;
}
.alphadera-slider.myslider.slick-slider .digbizcard-sec .contant-part {
    margin-top: 55px;
}
.shopaholicsale-slider.slider-digbiz8 {
    padding: 0;
    display: table;
    width: 100%;
}
.shopaholicsale-slider.slider-digbiz8 .digbizcard-sec {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.shriek-slider.slick-slider {
    padding: 0;
    display: table;
    width: 100%;
    vertical-align: middle;
}
.shriek-slider.slick-slider .digbizcard-sec {
    display: table-cell;
    vertical-align: middle;
        padding-top: 100px;
}