{text-align:justify}@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot);src:url(../fonts/fontawesome-webfont3e6e.eot) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2) format('woff2'),url(../fonts/fontawesome-webfont.woff) format('woff'),url(../fonts/fontawesome-webfont.ttf) format('truetype'),url(../fonts/fontawesome-webfont.svg) format('svg');font-weight:400;font-style:normal}a.detail-link{border:1px solid #fff;border-radius:4px;padding:15px;margin-top:20px}.navbar-inverse{background-color:transparent!important;border-color:transparent!important;background-image:none!important}.vc_custom_1566216864992{padding-top:95px!important;padding-bottom:160px!important}.vc_custom_1566218005575{padding-bottom:54px!important;background-color:#f5f5f5!important}.vc_custom_1566225175701{padding-top:120px!important;padding-bottom:120px!important}.vc_custom_1566228671761{padding-top:79px!important}.vc_custom_1566228666904{background-color:rgba(34,34,34,.84)!important}.vc_custom_1566286864056{background-image:url(../images/team-bg-01.png)!important;background-position:0 0!important;background-repeat:no-repeat!important}.vc_custom_1566287522619{padding-top:60px!important;padding-bottom:60px!important}.vc_custom_1565274563598{background-position:0 0!important;background-repeat:repeat!important}.vc_custom_1566287866078{padding-top:120px!important;padding-bottom:120px!important}.vc_custom_1566216796768{padding-top:0!important;padding-right:130px!important}.vc_custom_1566216546464{padding-top:0!important;padding-left:60px!important}.vc_custom_1566217971754{padding-top:75px!important}.vc_custom_1566217975941{padding-top:75px!important}.vc_custom_1566217980283{padding-top:75px!important}.vc_custom_1566217984597{padding-top:75px!important}.vc_custom_1566223658474{padding-top:0!important;padding-right:24px!important}.vc_custom_1566223665885{padding-top:0!important;padding-right:0!important;padding-left:6px!important}.vc_custom_1566224480646{margin-top:-7px!important;padding-top:0!important;padding-left:70px!important}.vc_custom_1566225081540{padding-top:0!important}.vc_custom_1566225132782{padding-bottom:96px!important}.vc_custom_1565369329566{padding-top:0!important}.vc_custom_1566225015264{padding-top:0!important;padding-right:0!important;padding-left:0!important}.vc_custom_1565369322481{padding-top:0!important}.vc_custom_1566228782513{padding-top:0!important;padding-right:85px!important}.vc_custom_1566288343158{margin-bottom:-113px!important}.vc_custom_1566229120265{padding-top:0!important;padding-right:90px!important}.vc_custom_1566229568186{padding-top:220px!important;padding-bottom:296px!important;background-position:0 0!important;background-repeat:no-repeat!important}.vc_custom_1566229543096{padding-top:60px!important}.vc_custom_1566228846122{padding-top:0!important;padding-left:165px!important}.vc_custom_1566229551839{padding-top:60px!important;padding-right:60px!important}.vc_custom_1566229546952{padding-top:60px!important;padding-left:110px!important}.vc_custom_1566283674686{margin-top:-201px!important;padding-top:0!important}.vc_custom_1566286480262{padding-top:107px!important;padding-bottom:110px!important}.vc_custom_1566286485222{padding-bottom:86px!important}.vc_custom_1566287007652{padding-top:60px!important;padding-bottom:60px!important}.vc_custom_1566287031963{padding-bottom:60px!important}.vc_custom_1566287044516{padding-top:0!important}.vc_custom_1566287057827{padding-top:0!important}.vc_custom_1566287065009{padding-top:0!important}.vc_custom_1566287457326{padding-top:0!important;padding-right:0!important;padding-left:40px!important}.vc_custom_1566287464588{padding-top:0!important;padding-left:70px!important}.vc_custom_1566288822775{padding-top:0!important}.vc_custom_1566288848207{padding-top:0!important;padding-left:85px!important}.vc_custom_1566288939872{padding-top:0!important}.vc_custom_1566288957059{padding-top:0!important;padding-bottom:55px!important}.vc_custom_1566288961692{padding-top:0!important}.vc_custom_1565624189482{padding-bottom:60px!important}.vc_custom_1565626801764{background-image:url(../images/bg-cta.png)!important;background-position:0 0!important;background-repeat:no-repeat!important;background-size:contain}.vc_custom_1565626333627{padding-top:0!important;padding-right:90px!important}.vc_custom_1565626346543{padding-top:0!important;padding-left:0!important}.vc_custom_1565622462218{padding-bottom:60px!important}.vc_custom_1565623118173{padding-top:0!important;padding-right:0!important}.vc_custom_1565623110737{padding-top:0!important;padding-left:85px!important}.vc_custom_1565626819548{padding-top:0!important}.vc_custom_1565626785370{padding-top:0!important;padding-bottom:28px!important}.vc_custom_1565626777557{padding-top:0!important;padding-left:110px!important}.primary-menu>li.menu-item-has-children>a:after{content:"\f107";font-family:FontAwesome;font-size:14px;font-weight:400;margin-left:5px;font-weight:400;display:inline-block;vertical-align:middle}.fac-play:before{content:"\f04b";font-family:FontAwesome}.fac-cog:before{content:"\f013";font-family:FontAwesome}.fac-life-ring:before{content:"\f1cd";font-family:FontAwesome}.fac-shopping-cart:before{content:"\f07a";font-family:FontAwesome}.fac-long-arrow-alt-right:before{content:"\f30b";font-family:FontAwesome}#header-wrap #header-top.layout1 .header-info-item i{width:20px!important;height:20px!important;line-height:18px!important;border:0!important;margin-right:6px!important}#header-wrap #header-top.layout1 .header-info-item,#header-wrap #header-top.layout1 .header-top-desc{margin-right:28px;font-size:14px!important;color:#000!important;font-weight:400;font-family:Montserrat,sans-serif!important}#header-wrap .header-branding{margin-top:0;margin-bottom:0}.header-main .navbar{margin-top:0;margin-bottom:0}#header-wrap.header-layout3 .header-main .primary-menu>li>a{line-height:60px!important}#header-wrap .header-branding img{width:75px}.header-main .navbar{position:relative;min-height:1px;margin-bottom:0;border:0;padding:0}#header-wrap.header-layout3 .header-main .primary-menu>li>a{line-height:80px!important;color:#111;font-family:ralewaybold!important;font-size:16px!important;letter-spacing:.6px;transition:all .5s ease 0s}.header-main .btn,.header-main .button,.header-main button,.header-main input[type=submit]{border:none;color:#fff;font-size:15px;padding:0 25px;line-height:45px;font-family:ralewaymedium!important;font-weight:400!important;letter-spacing:.6px}.header-main .primary-menu .sub-menu li a{font-size:14px;padding:8px 20px;border-bottom:1px solid rgba(0,0%,0%,10%)!important;font-family:ralewaybold!important}.header-main .primary-menu .sub-menu{min-width:260px;padding:0 0}.primary-menu .sub-menu li.current-menu-ancestor>a,.primary-menu .sub-menu li.current-menu-item>a,.primary-menu .sub-menu li.current-menu-parent>a,.primary-menu .sub-menu li.current_page_ancestor>a,.primary-menu .sub-menu li.current_page_item>a,.primary-menu .sub-menu li>a:hover{padding-left:40px}.primary-menu .sub-menu li.current-menu-ancestor>a:before,.primary-menu .sub-menu li.current-menu-item>a:before,.primary-menu .sub-menu li.current-menu-parent>a:before,.primary-menu .sub-menu li.current_page_ancestor>a:before,.primary-menu .sub-menu li.current_page_item>a:before,.primary-menu .sub-menu li>a:hover:before{left:20px}.site-content{padding-top:40px!important}.home_page_admin .vc_custom_1566216864992{padding-top:70px!important;padding-bottom:125px!important}.home_page_admin .vc_custom_1566216796768{padding-right:120px!important}.home_page_admin .ct-heading h3.ct-heading-tag{font-size:55px!important;line-height:1.2222!important;font-family:ralewaybold}.home_page_admin .ct-heading-desc{font-size:18px!important;font-family:ralewayregular;letter-spacing:.5px;padding-left:5px;color:#333}.home_page_admin .ct-counter-default .ct-counter-digit{font-size:55px;line-height:1;font-weight:400;color:#000;font-family:ralewaybold}.home_page_admin .ct-counter-title{font-family:ralewaybold;letter-spacing:.6px;color:#3a3a3a}.home_page_admin .vc_custom_1566218005575{background-color:#f6fcff!important}.fw700{font-weight:400;font-family:ralewaybold;letter-spacing:.3px}.vc_custom_1566225132782{padding-bottom:70px!important}.ct-process-layout1 .ct-process-title{font-size:22px;margin-bottom:18px;font-family:ralewaybold}.ct-button-wrapper .btn{font-family:ralewaymedium!important;font-weight:400;letter-spacing:.5px}h3.item-title{font-family:ralewaybold;font-size:32px!important;margin-bottom:18px!important;min-height:82px}.ct-grid-team1 .team-title{font-family:ralewaybold}.home_page_admin .vc_custom_1566287464588 .ct-heading h3.ct-heading-tag{font-size:50px!important}.home_page_admin .vc_custom_1565276451286{padding-top:15px!important}.ct-grid-testimonial1 .grid-item-inner,.ct-testimonial-carousel2 .grid-item-inner{padding:40px 30px 45px}.ct-testimonial .testimonial-rating{margin-bottom:25px}.ct-grid-testimonial1 .testimonial-content,.ct-testimonial-carousel2 .testimonial-content{margin-bottom:30px}.home_page_admin #custom-footer1 .ct-heading h3.ct-heading-tag{font-size:20px!important;margin-bottom:12px!important}.home_page_admin #custom-footer1 p{text-align:left}.home_page_admin #custom-footer1 .vc_custom_1565147137580{padding-left:70px}#header-wrap #header-top.layout1+#header-main{box-shadow:none!important}.vc_row.vc_custom_1566229543096{padding-top:10px!important}.vc_column-inner.vc_custom_1566283674686 .item-content{min-height:234px;margin-bottom:10px}.vc_custom_1566283674686 h3.item-title{font-size:24px!important;min-height:62px;margin-bottom:5px!important}.vc_custom_1566283674686 h3.item-title br{display:none}.ct-nav-carousel .owl-next,.ct-nav-carousel .owl-prev,.owl-nav .owl-next,.owl-nav .owl-prev{width:40px;font-size:22px;height:40px}.ct-carousel-service1 .owl-nav .owl-next,.ct-carousel-service1 .owl-nav .owl-prev{bottom:auto;top:50%;left:-20px!important;margin-top:-20px!important}.ct-carousel-service1 .owl-nav .owl-next{right:-20px!important;left:auto!important}.home_page_admin .icofont-long-arrow-right:before{content:"\f105";font-size:24px}.home_page_admin .icofont-long-arrow-left:before{content:"\f104";font-size:24px}.home_page_admin i.icofont-long-arrow-left,.home_page_admin i.icofont-long-arrow-right{font:normal normal normal 14px/1 FontAwesome!important}#pagetitle .ct-breadcrumb li{color:#fff!important}.testimonial-item .grid-item-inner{padding:30px 30px 35px!important;min-height:350px}.testimonial-item .testimonial-content{margin-bottom:10px;min-height:180px}#pagetitle .page-title-inner .page-title{font-family:ralewaybold!important;letter-spacing:.5px;font-size:55px}.ct-grid-features1.style-1 .feature-title{font-family:ralewaybold!important;font-weight:400!important}.ct-text-block1 li,.ct-text-block1 p,.feature-content,.item-content,.left-service-section p{font-family:ralewayregular!important;text-align:left;font-weight:400!important;color:#333}.all_services_Detail h4,.left-service-section p{color:#333!important;text-align:left!important}footer .ct-text-block1 li,footer .ct-text-block1 p,footer .feature-content{font-family:ralewayregular!important;font-weight:400!important;color:#fff!important}#pagetitle .ct-breadcrumb li{color:#fff!important;font-size:18px!important;font-family:ralewayregular;font-weight:400!important;letter-spacing:.5px}.blog-section-home .grid-item.col-xl-3.col-lg-4.col-md-4.col-sm-6.col-12{position:static!important;float:left}.blog-section-home{float:left;width:100%}.vc_custom_1566287457326 .ct-video-layout1::before{opacity:0;display:none}.home_page_admin .vc_custom_1566283674686 .item-content{font-size:15px!important;color:#333!important}.vc_custom_1566224480646 .ct-text-block1.content-default.fw700.text-left p{font-family:ralewaybold!important;color:#000}.vc_custom_1566223658474 .bg-image{height:349px!important;background-size:526px;background-position:center 0!important}.vc_column-inner.vc_custom_1566287007652{padding-top:0!important}.floating-wpp .floating-wpp-button+.floating-wpp-button{display:none!important}#pagetitle{background-position:center 50px!important;background-color:#fff!important}li.dropdown.language-selector{height:40px;border-radius:4px;padding:4px;top:0;float:right;list-style:none;font-weight:400;color:#262626}.language-selector .dropdown-toggle::after{display:none}.language-selector .dropdown-menu>li>a{padding:5px 10px;margin-right:0}.language-selector .dropdown-menu{position:absolute;top:93%}.dropdown.language-selector:hover .dropdown-menu{display:block!important}.getconbtnbx .language-selector .dropdown-menu{left:auto;right:28px;top:48px;border:0;min-width:179px;padding:10px 10px 10px 10px;border-bottom:2px solid #279eff;border-radius:8px;box-shadow:0 10px 40px 0 rgb(39 158 255 / 15%)}.language-selector img{width:20px}@media(max-width:1199px){.home_page_admin .vc_custom_1566218005575 .vc_col-sm-6{width:33.33%}}@media (min-width:250px) and (max-width:700px){.activemenu{color:#0064eb!important;height:0!important;background-color:transparent}#header-wrap.header-layout3 .header-main .primary-menu>li>a{line-height:28px!important}.main-menu-toggle:before{font-size:18px;color:#222;content:"\f107"!important;font-family:FontAwesome!important}.primary-menu>li.current-menu-ancestor>a,.primary-menu>li.current-menu-item>a,.primary-menu>li.current_page_ancestor>a,.primary-menu>li.current_page_item>a,.primary-menu>li>a.current,.primary-menu>li>a:hover{background-color:transparent!important;color:#0064eb}.home_page_admin .vc_custom_1566218005575 .vc_col-sm-6{width:33.33%;float:left}
.team-featured a img{width:100%!important;height:auto!important}
.home_page_admin .vc_custom_1566216796768{padding-right:20px!important}
.home_page_admin #custom-footer1 .vc_custom_1565147137580{padding-left:15px!important}
#pagetitle:before{background-color:rgba(34,34,34,.85)!important}
.page-template-default.home_page_admin .vc_custom_1566216864992{padding-top:0!important;padding-bottom:5px!important}
.vc_custom_1566225175701{padding-top:20px!important;padding-bottom:50px!important}}
.blog-section-home .team-featured{background:#c4020e;width:100%;height:292px;line-height:292px}
.team-featured a{display:inline-block;vertical-align:top}
.blog-section-home .team-featured a img{height:auto!important;width:auto!important}
.blog-section-home .team-featured.greenlight-featured{background:#00d9ae}.blog-section-home .team-featured.adventure-bg-featured{background:#1c3948}
.blog-section-home .team-featured.blue-bg-featured{background:#0064eb}
.blog-section-home.bottom-blog-sec .team-featured{height:270px!important;line-height:270px!important;background:#fff!important}
.blog-section-home.bottom-blog-sec .team-featured a img{height:auto;max-height:270px}
.activemenu{color:#0064eb!important;height:3px!important;background-color:#0064eb;top:50%}
.home_page_admin .ct-heading h3.ct-heading-tag 
{
    font-size:38px !important;}
code {
    padding: 0 !important;
}
#header-wrap #header-top.layout1>.container{max-width:100% !important;}
/* ============= 12-08-2021 css start here ================ */
.site-footer-custom .vc_row.wpb_row .ct-icon1 a {
    display: inline-block;
} 
.vc_row[data-vc-full-width].vc_hidden.map_part {
    opacity: 1;
}
body .site-content.main_quote_page {
    padding-bottom: 50px;
}
.quote_form label {
    font-weight: 400;
}
.quote_form textarea.form-control {
    min-height: 100px;
}
.main_quote_page article .wpb_column.vc_column_container {
    margin: 0 0 50px;
} 
.header-main .header-navigation ul li#menu-item-16 {
    display: none;
} 
.quote_form .country-code input.form-control {
    padding-left: 75px;
}
.quote_form .country-code .nice-select {
    position: absolute;
    width: auto;
    top: 37px;
    background: rgba(0, 0, 0, 0.03);
    padding: 0 30px 0 15px;
    border-radius: 0;
    font-size: 14px;
    height: 41px;
    margin-left: 5px;
    border: 0;
}
.quote_form .form-control:focus {
    box-shadow: none;
}
.quote_form .country-code .nice-select span.current {
    line-height: 40px;
}
.quote_form .country-code .nice-select:focus {
    box-shadow: none;
}
.quote_form .country-code .nice-select:after {
    border-top: 6px solid #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 10px;
}
.quote_form .country-code .list {
    padding: 5px 0;
    margin: 2px 0 0 -2px !important;
}
.quote_form .nice-select, .quote_form .nice-select:focus {
    background: #F8FBFF;
}
.quote_form .country-code .list li {
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}
.map_part {
    width: 100%;
    margin: 0 !important;
}
.idea_sec .container {
    width: 1000px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}                                   
.idea_sec .col-md-8 img {
    width: 100%;
}
.idea_sec h3 {
    font-size: 45px;
    line-height: 65px;
    font-weight: bold;
    font-family: ralewaybold !important;
}                                                                      
.idea_sec h3 span {
    color: #2866E3;
}                                            
.idea_sec .col-md-12 {
    padding: 0 15px;
}
.idea_sec p {
    margin: 20px 0 0;
    color: #4E667B;
    font-family: ralewayregular;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    padding-right: 50px;
}
.getting_sec {
    padding: 30px 0;
}
.getting_sec .container {
    width: 900px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}                      
.getting_sec h3 {
    font-size: 22px;
    line-height: 40px;
    font-family: ralewayregular !important;
    font-weight: 400;
    text-align: center;
    color: #4E667B;
    letter-spacing: 0.96px;
    margin: 0 0 40px;
}
.getting_sec h3 span {
    color: #FF4857;
    font-family: ralewaymedium!important;
}
.box_overlay {
    width: 100%;
    min-height: 85px;
    text-align: center;
    line-height: 85px;
    border-radius: 4px;
}
.box_overlay a {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 0.27px;
    color: #fff;
    min-height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
}                                                                                                           
.box_overlay a span {
    font-size: 40px;
    letter-spacing: 1.6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-family: ralewaybold;
}                                                                                                                       
.box_overlay p a {
    color: #fff;
    margin-left: 20px;
}      
.box_overlay a:hover, .box_overlay a:focus {
    color: #fff;
}
.box_overlay.call {                     
    background: #006ced;                                                                                                                                                                            
    background: -moz-linear-gradient(left, #006ced 0%, #01b1f4 100%);
    background: -webkit-linear-gradient(left, #006ced 0%,#01b1f4 100%);
    background: linear-gradient(to right, #006ced 0%,#01b1f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ced', endColorstr='#01b1f4',GradientType=1 );
}                                                                                  
.box_overlay.emall {                                                                                 
    background: #ff4857;                                                                                       
    background: -moz-linear-gradient(left, #ff4857 0%, #f68b93 100%);
    background: -webkit-linear-gradient(left, #ff4857 0%,#f68b93 100%);
    background: linear-gradient(to right, #ff4857 0%,#f68b93 100%);                  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4857', endColorstr='#f68b93',GradientType=1 );
}
.contant_form .container {
    display: block;
    width: 900px;
    margin: 0 auto;
}
.contant_form h3 {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
    text-align: center;
    color: #4E667B;
    letter-spacing: 0.96px;
    margin: 0 0 25px;
}
.contant_form form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.contant_form form .form-group {
    width: 50%;
    padding: 0 15px;
    margin: 0 0 20px;
    position: relative;
}
.contant_form form .form-group label {
    display: block;
    font-size: 15px;
    color: #4E667B;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0 0 7px;
}
.contant_form form .form-group .form-control {
    width: 100%;
    background-color: #F8FBFF;
    border: 1px solid #D0DEF1;
    min-height: 45px;
    border-radius: 2px;
    padding: 0 15px;
    color: #868E96;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    font-size: 14px;
    height: auto;
     box-shadow: none;
}
.contant_form form .form-group .form-control:focus {
    box-shadow: none;
}
.contant_form form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Montserrat', sans-serif !important;
  color: #868E96;
   font-weight: 400 !important;
   font-size: 14px;
}
.contant_form form ::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Montserrat', sans-serif !important;
  color: #868E96;
   font-weight: 400 !important;
   font-size: 14px;
}
.contant_form form :-ms-input-placeholder { /* IE 10+ */
  font-family: 'Montserrat', sans-serif !important;
  color: #868E96;
   font-weight: 400 !important;
   font-size: 14px;
}
.contant_form form :-moz-placeholder { /* Firefox 18- */
  font-family: 'Montserrat', sans-serif !important;
  color: #868E96
   font-weight: 400 !important;
   font-size: 14px;
}
.budget-range .form-control {
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 97% center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: no;
    appearance: none;
}
.contant_form form .form-group textarea.form-control {
    min-height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
}
.contant_form form .form-group.full-width {
    width: 100%;
}
.phone-part {
    position: relative;
}
.phone-part .iti {
    width: 100%;
}
.contant_form form .form-group .phone-part input.form-control {
    padding-left: 55px;
}
.phone-part select {
    position: absolute;
    width: auto;
    top: 5px;
    background: #D0DEF1;
    border-radius: 2px;
    font-size: 13px;
    height: 35px;
    margin-left: 3px;
    border: 0;
    left: 4px;
    color: #4E667B;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: no;
    appearance: none;
    min-width: 55px;
    padding: 0 5px;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 85% center;
    cursor: pointer;
}
.request_part {
    width: 100%;
    padding: 0 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.request_part .wpcf7-submit {
    background-image: -webkit-linear-gradient( 
90deg
 ,#005cea 0,#00c5fb 50%,#005cea 100%);
    background-image: -moz-linear-gradient(90deg,#005cea 0,#00c5fb 50%,#005cea 100%);
    background-image: -ms-linear-gradient(90deg,#005cea 0,#00c5fb 50%,#005cea 100%);
    background-image: -o-linear-gradient(90deg,#005cea 0,#00c5fb 50%,#005cea 100%);
    background-image: linear-gradient( 
90deg
 ,#005cea 0,#00c5fb 50%,#005cea 100%);
    background-size: 300%,1px;
    background-position: 0;
    border: 0;
    color: #fff;
    min-width: 150px;
    font-family: 'Montserrat', sans-serif;
    min-height: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    border-radius: 4px;
    transition: 0.3s;
    margin-left: auto;
    cursor: pointer;
}
.request_part .wpcf7-submit:hover {
    background-position: 100%;
}
.request_part .wpcf7-submit i {
    margin-left: 15px;
}
.safe-with-us p {
    margin: 5px 0;
    color: #868E96;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.safe-with-us p .fa-lock {
    color: #4DC002;
    margin-right: 10px;
    font-size: 16px;
}
.safe-with-us p input[type="checkbox"] {
    margin-right: 10px;
}
.addres_part {
    padding: 40px 0 0;
}
.addres_part .container {
    width: 900px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}     
.addres_part .col-md-6 {
    padding: 0 15px;
    width: 50%;
}
.addres_part figure img, .map_sec figure img {
    width: 100%;
}
.addres_part h3 {
    font-size: 40px;
    line-height: 50px;
    font-family: ralewaybold !important;
    letter-spacing: 1.6px;
    margin: 0 0 15px;
    color: #000;
}
.addres_part a .fa-envelope {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.addres_part a:hover {
    color: #000;
}
.addres_part p {
    font-size: 17px;
    line-height: 28px;
    font-family: ralewaybold;
    letter-spacing: 0.27px;
    margin: 0 0 15px;
    color: rgba(0,0,0,0.8);
}
.addres_part a {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 0.72px;
    color: #000;
}
.addres_part a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.btn--browse {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.btn--browse span {
    display: inline-block;
}
.btn--browse span img {
    width: 29px;
}
.fileUpload input.upload {
    position: absolute;
    top: -7px;
    right: -14px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);  
    min-height: 43px;
    min-width: 418px;  
    width: 100%;
}
.header-main .container {
    padding: 0 50px;
}
footer.site-footer-custom {
    background: #292929;
}
.site-footer-custom .bg-image-ps-inherit {
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.home_page_admin .site-footer-custom .ct-heading h3.ct-heading-tag {
    font-size: 50px!important;
}
.site-footer-custom #custom-footer1 .vc_column_container.vc_col-sm-12 {
    padding: 0 50px; 
}
.site-footer-custom #custom-footer1 .wpb_column.vc_column_container .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3 {
    padding: 0 15px; 
    width: 25% !important;
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:nth-child(2) .vc_column-inner {
    padding-left: 100px; 
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:nth-child(3) .vc_column-inner {
    padding-left: 40px;
}
body #header-wrap.header-layout3 .header-main>.container {
    max-width: 100%;
} 
body .primary-menu>li>a:before {
    background-color: transparent !important;
}
body.home_page_admin .ct-heading h3.ct-heading-tag {
    font-size: 35px!important;
}
.site-footer-custom #menu-menu-company li:last-child {
    display: none;
}
.header-main .header-top-info li.dropdown.language-selector .goog-te-gadget-simple {
    border-radius: 1px;
    background: #fbfbfb;
    border: 1px solid #ddd !important;
}
iframe.goog-te-menu-frame {
    box-shadow: none;
} 
.request_part button.wpcf7-submit font font {
    font-size: 0;
}
.request_part button.wpcf7-submit font font:before {
    position: relative;
    content: "Submit";
    font-size: 20px;
}
.addres_part p br + font font {
    font-size: 0;
}
.addres_part p br + font font:before {
    position: relative;
    content: " U.P. - 201305, India";
    font-size: 20px;
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:last-child .ct-text-block1 p:nth-child(3) a {
    font-size: 0;
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:last-child .ct-text-block1 p:nth-child(3) a:before {
    position: relative;
    content: "+91 - 965 093 6880";
    font-size: 15px;
}
.site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:last-child .ct-text-block1 p:nth-child(3) a i {
    font-size: 14px;
    float: left;
    margin-top: 8px;
    margin-right: 2px;
}






@media screen and (min-width:1200px){
    .primary-menu>li>a:before{content:'';height:1px;width:100%;position:absolute;top:50%;left:0;display:block}
}
.home_page_admin{font-family:ralewayregular!important;color:#333;font-size:15px;font-family:ralewaymedium!important}

@media (min-width:250px) and (max-width:700px){
    .activemenu{color:#0064eb!important;height:auto!important;background-color:transparent}
    #header-wrap.header-layout3 .header-main .primary-menu>li>a{line-height:28px!important}
}
.goog-te-banner-frame{display:none!important}.goog-te-banner{margin:0;background-color:#e4effb;overflow:hidden;display:none!important}
.goog-te-gadget-icon{display:none}
.page-template-default{top:0!important}
#goog-gt-tt{display:none!important}
.language-selector img{width:5px!important}
.goog-te-menu-value{font-size:15px!important;color:#000!important}
.goog-te-gadget-simple{background-color:#fff;border-left:1px solid #111!important;border-top:1px solid #111!important;border-bottom:1px solid #111!important;border-right:1px solid #111!important}
.ct-single-image.img-style2 img{height:500px!important;width:100%!important}
font {
    background: transparent !important;
    box-shadow: none !important;
}
header .header-info-item {
    margin-top: 8px;
    display: inline-block;
}

body .goog-te-menu2 {width: 150px !important;}
.vc_custom_1566218005575 .wpb_animate_when_almost_visible {
    width: 33.33%;
}
#ct-process .ct-process-item:last-child .item-count font font:after {
    position: relative;
    content: "4";
    font-size: 25px;
}
#ct-process .ct-process-item:last-child .item-count font font {
    position: relative;
    font-size: 0;
}
@media(max-width:600px){
    .vc_custom_1566218005575 .wpb_animate_when_almost_visible {
        width: 100% !important;
    }
    .home_page_admin .vc_custom_1566218005575 .vc_col-sm-6 .ct-counter-digit {
        font-size: 40px;
    }
}

.site-footer-custom .container .vc_row.wpb_row {
    width: auto !important;
    margin: 0 -15px;
    left: 0 !important;
}
.site-footer-custom .container {
    max-width: 100%;
}
li.dropdown.language-selector{min-width: 145px;}
li.dropdown.language-selector div#google_translate_element , li.dropdown.language-selector  .skiptranslate.goog-te-gadget {
    width: 100%;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple {
    min-width: 146px;
    width: 100%;
}
body.home_page_admin {
    top: 0 !important;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple a.goog-te-menu-value > span:first-child {
    min-width: 95px;
    display: inline-block;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple a.goog-te-menu-value {
    width: 100%;
    display: inline-block;
    min-width: 130px;
}
li.dropdown.language-selector .skiptranslate.goog-te-gadget .goog-te-gadget-simple span {
    display: inline-block !important;
}
.header-top-info .header-info-item {
    margin-top: 9px;
    display: inline-block;
}

.home_page_admin .vc_custom_1566283674686 .grid-item-inner:hover .item-content {
    color: #fff !important;
}
.ct-carousel-service1 .grid-item-inner:after{
    background-image: -webkit-linear-gradient(
        25deg
        ,#3b40c6 0,#60ddff 100%);
            background-image: -moz-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: -ms-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: -o-linear-gradient(25deg,#3b40c6 0,#60ddff 100%);
            background-image: linear-gradient(
        25deg
        ,#3b40c6 0,#60ddff 100%);
}

.status-publish .owl-nav.disabled {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 100%;
    left: 0;
}
.status-publish .owl-nav.disabled .owl-prev {
    float: left;
    margin-left: -25px;
}
.status-publish .owl-nav.disabled .owl-next {
    float: right;
    margin-right: -25px;
}
.ct-features .grid-item-inner {
    min-height: 280px;
    float: left;
    width: 100%;
}
.blog-card-cont{margin-bottom:40px;}
.blog-card-cont .card-cont-sec {
    min-height: 125px;
}
.blog-detail-cont .site-pra {
    font-size: 15px;
}
.ct-contact-info .contact-info-inner{padding: 48px 30px !important;}
.ct-contact-info .ct-contact-info-meta{margin-right: 32px !important;  width: auto !important; }
.ct-contact-info .ct-contact-info-label {
    font-size: 35px !important;
    text-align: center !important;
}                                                          
.ct-contact-info .ct-contact-info-content {
        font-size: 20px!important;
}                                      
.ct-contact-info .ct-contact-info-meta{word-break: break-all;}
.ct-contact-info .ct-contact-info-content .fa-skype {
    float: left;
    width: 20px;
    margin-top: 5px;
}
.ct-contact-info .ct-contact-info-content .fa-skype + font {
    width: 220px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
        margin-left: 2px;
}
.home_page_admin .vc_custom_1565626819548 .wpb_wrapper .ct-heading-tag {
    font-size: 50px !important; font-weight: normal !important;
}                                                      
div#WAButton {
    margin: 0px 0 0!important;
    bottom: 67px;
    right: 5px !important;
}                            
.floating-wpp-button {
    width: 58px !important;
    height: 58px !important; 
}
body .ct-scroll-top.on {
    bottom: 135px;
}
.site-footer-custom .footer-custom-inner .vc_custom_1565147250632 .vc_custom_1566205097754 .vc_col-md-3:first-child .vc_custom_1565147178676 {
    padding: 0 !important;
}                                                                           
.site-footer-custom .footer-custom-inner .vc_custom_1565147250632 .vc_custom_1566205097754 .vc_col-md-3:first-child .vc_custom_1565147178676 {
    padding: 45px 12px 0 0!important;
}


@media (min-width: 992px) and (max-width: 1100px) {
    
    
}


@media (min-width: 768px) and (max-width: 991px) {
.idea_sec .container, .getting_sec .container, .contant_form .container, .addres_part .container {
    padding: 0;                                                                     
    width: 750px;
}      
.idea_sec h3 {
    font-size: 28px;
    line-height: 40px;
}                                                                      
.idea_sec h3 br {
    display: none;
}                                                             
.idea_sec p {
    padding-right: 0;
}                                                                     
.box_overlay a span {
    font-size: 30px;
}                                                            
.addres_part p {
    font-size: 16px;
    text-align: left;
}                                                                                                   
.addres_part p br {   
    display: none;    
}    
    
}
    
    
    
@media(max-width:767px){
    body.home_page_admin .vc_custom_1566216796768 {
        padding-right: 15px!important;
    }
   body #ct-heading .ct-heading-tag {
        font-size: 28px !important;
        line-height: 42px !important;
    }
    body.home_page_admin .ct-heading-desc {                            
        font-size: 16px!important;
        padding-left: 0;
    }
    body.home_page_admin .ct-heading h3.ct-heading-tag {
        font-size: 28px!important;
    }                                                                        
    .home_page_admin .vc_custom_1566225132782 {
        padding-bottom: 40px!important;
    }                                                                                 
    .home_page_admin .ct-process-layout1 .ct-process-item-inner {
        padding-top: 65px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }                                                                                       
    .ct-process-desc br {
        display: none;
    }           
    .home_page_admin .vc_custom_1566228671761 {
        padding-top: 30px!important;
    }
    .home_page_admin #ct-heading-3 {
        padding-top: 55px;
    }
    .vc_custom_1566228671761 .vc_empty_space {
        height: 50px !important;
    }
    .home_page_admin .vc_custom_1566287031963 {
        padding-bottom: 32px!important;
    }
    div#WAButton {
        margin: 0px 0 0!important;               
        bottom: 48px;
        right: 5px !important;
    }
    .floating-wpp-button {
        width: 40px !important;
        height: 40px !important; 
    }
    body .ct-scroll-top.on {
        bottom: 118px;
    }
    .site-footer-custom  .vc_custom_1565147137580 , .site-footer-custom  .vc_custom_1565147152647 , .site-footer-custom  .vc_custom_1565147178676{
        padding-top: 28px!important;
    }
    .site-footer-custom  .vc_column-inner.vc_custom_1566205097754 {
        padding-bottom: 25px;
    }
    .site-footer-custom .footer-custom-inner .vc_custom_1565147250632 .vc_custom_1566205097754 .vc_col-md-3:first-child .vc_custom_1565147178676 {
        padding: 0 0 0 0!important;
    }                 
    body .ct-testimonial-carousel2 .owl-stage-outer {
        padding: 20px 15px 20px;
        margin-left: -15px;
        margin-right: -15px;
    }                        
    body .ct-contact-info .ct-contact-info-meta {
        min-width: auto;                 
    }                                                                                                                                            
    body .ct-contact-info .ct-contact-info-meta .ct-contact-info-icon {
        left: 50%;                                                                       
        -webkit-transform: translate(-50%,-50%);
        -khtml-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }                                                                                                              
    form.quote_form {
        padding: 20px 10px!important;
    }                                                                                                                                                      
    .idea_sec .container, .getting_sec .container, .contant_form .container, .addres_part .container {
        padding: 0;
        width: 100%;
    }                                              
    .idea_sec h3 br, .getting_sec h3 br {
        display: none;
    }
    .idea_sec h3 {
        font-size: 25px;
        line-height: 35px;
    }
    .idea_sec p {
        padding-right: 0;
    }
    body .site-content {
        padding-top: 25px!important;
    }
    .getting_sec h3 {
        font-size: 16px;
        line-height: 32px;
        margin: 0 0 30px;
        font-weight: 600;
    }
    .box_overlay a span {
        font-size: 25px;
    }
    .box_overlay {
        min-height: 70px;
        line-height: 70px;
        margin: 0 0 15px;
    }
    .box_overlay a {
        min-height: 70px;
        line-height: 70px;
    }
    .contant_form form .form-group {
        width: 100%;
    }
    .contant_form form .form-group textarea.form-control {
        min-height: 100px;
    }
    .request_part {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }
    .safe-with-us {
        width: 100%;
    }
    .safe-with-us p {
        font-size: 14px;
        text-align: left;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
    }                                
    .request_part .wpcf7-submit {
        min-height: 55px;
        margin-top: 15px; 
        line-height: 55px;
        margin-left: initial; 
    }                                                                                   
    .addres_part .col-md-6 {
        width: 100%;
    }                                                                           
    .addres_part h3 {
        font-size: 30px; 
        line-height: 30px;
        padding: 15px 0 0;
    }                                      
    .addres_part p {
        font-size: 15px; 
        line-height: 24px;
        text-align: left;
    }                     
    .addres_part p br {  
        display: none;
    }
    .addres_part a {
        font-size: 16px;
        letter-spacing: 0;
    }
    #header-wrap .header-branding{
        margin-left:50px; 
    }    
    .header-main .container {
        padding: 0 15px;
    } 
    .site-footer-custom .bg-image-ps-inherit {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .site-footer-custom #custom-footer1 .vc_column_container.vc_col-sm-12 {
        padding: 0 15px;
    }
    .site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3 {
        width: 100% !important;
    }
    .site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:nth-child(3) .vc_column-inner {
        padding-left: 0;
    } 
    .home_page_admin #custom-footer1 .vc_custom_1565147137580 {
        padding-left: 0!important;
    } 
    .ct-newsletter-layout1 form.newsletter {
        display: -webkit-flex;  
        display: -ms-flexbox; 
        display: flex; 
        align-items: center; 
    } 
    .site-footer-custom form.newsletter .tnp-field-button {
        margin-top: 0; 
    }
    .site-footer-custom .ct-newsletter-layout1 form.newsletter .tnp-field-button .tnp-button {
        padding-left: 25px;
        padding-right: 25px;
    }
    .site-footer-custom .ct-icon1 a i {
        font-size: 14px;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .site-footer-custom .ct-icon1 a+a {
        margin-left: 2px;
    } 
    body .site-footer-custom #custom-footer1 .vc_col-sm-6.vc_col-md-3:nth-child(2) .vc_column-inner {
    padding-left: 0;
}
    
    
}



.home_page_admin .site-footer-custom .ct-heading h3.ct-heading-tag {
    font-size: 30px!important;
    margin-bottom: 10px !important;
}
.home_page_admin .ct-heading-desc {
    font-size: 16px!important;
}
body .gm-style .place-card .address {
    font-size: 0 !important;
    position: relative !important;
}

body .gm-style .place-card .address:after {
    position: absolute !important;
    content: "D-9, Hosiery Complex, Block D, Noida Phase-3, Noida, Uttar Pradesh 201305" !important;
    top: 0 !important;
    font-size: 11px !important;
    left: 0 !important;
}
span.heading-Address {
    position: relative;
    font-size: 0;
}
span.heading-Address:after {
    font-size: 40px;
    line-height: 50px;
    font-family: ralewaybold !important;
    letter-spacing: 1.6px;
    margin: 0;
    color: #000;
    content: "Address";
    position: relative;
    left: -10px;
}
.addres_part a .fa-phone {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
@media(max-width:1200px){
    span.heading-Address:after {
        font-size:32px
    }
}

@media(max-width:767px){
    span.heading-Address:after {
        font-size:22px
    }
}

.thrdpartyreview_icon {
    width: 100%;
    float: left;
    margin-top: 18px;
}
.thrdpartyreview_icon a {
    display: inline-block;
    vertical-align: middle;
}
.thrdpartyreview_icon li {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
        margin: 0 3px;
}
.thrdpartyreview_icon li:first-child {
    width: 132px;
}



.thanks-content {
    top: 50%;
    position: absolute;
    z-index: 99;
    left: 0;
    width: 100%;
    text-align: center;
        margin-top: -145px;
}
.arkthanks-img {
    display: inline-block;
    width: 100%;
}
.thankyou-page {
    width: 100%;
    display: inline-block;
    position: relative;
}
.arkthanks-img figure {
    margin: 0;
}
.thankyou-page .thanks-content h4 {
    color: #fff;
    font-size: 28px;
    line-height: 40px;
}
.thankyou-page .thanks-content h4 span {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}
.thanks-content h2 {
    color: #fff;
    font-size: 70px;
}
.thankyou-page .thanks-content .btn_home {
    display: inline-block;
    vertical-align: middle;
    background: #0064eb;
    padding: 15px 25px 12px;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .5px;
    transition: all .5s ease .0s;
        margin-top: 30px;
}
.thankyou-page .thanks-content .btn_home:hover{
    background:#062cd6;
    
}
.ct-newsletter-layout1 form.newsletter .tnp-field-button .tnp-button.thanks-Subscribebtn {
    top: 25px !important;
}
.thankyou-page-cont {
    width: 100%;
    padding: 80px 150px;
    float: left;
}
.thankyou-page-cont h2 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 15px;
    color: #000;
    line-height: 1.2;
    position: relative;
    padding-left:10px;
}
.thankyou-page-cont h2:after {
    position: absolute;
    width: 50%;
    height: 47px;
    content: "";
    left: 0;
    top: 0px;
    z-index: -9;
    background: rgb(0 104 236 / 21%);
}
.thankyou-page-cont p {
    color: #999;
    font-size: 24px;
    line-height: 34px;
}

.thankyou-page-cont figure {
    margin-bottom: 70px;
    width: 100%;
    float: left;
    margin-top: 50px;
}

.thankyou-page-cont figure img {
    width: 100%;
}
.thankyou-page-cont .expect_cont_sec {
    float: left;
    width: 100%;
    margin-top: 25px;
}
.thankyou-page-cont .expect_cont_sec {
    float: left;
    width: 100%;
    margin-top: 25px;
    padding-left: 45px;
    position: relative;
}
.thankyou-page-cont .expect_cont_sec .expect_cont {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}


.thankyou-page-cont .expect_cont_sec .expect_cont h4 {
    font-size: 18px;
    font-family: ralewaymedium!important;
    letter-spacing: 1px;
    color: #428dfc;
    margin-bottom: 8px;
}

.thankyou-page-cont .expect_cont_sec .expect_cont p {
    font-size: 18px;
    line-height: 26px;
}
.thankyou-page-cont .expect_cont_sec:after {
    position: absolute;
    left: 10px;
    content: "";
    top: 0;
    border-left: 1px solid #3b40c6;
    height: calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: -ms-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
}
.thankyou-page-cont .expect_cont_sec .expect_cont:after {
    position: absolute;
    left: -49px;
    width: 30px;
    height: 30px;
    content: "";
    top: -5px;
    background: #428dfc;
    border-radius: 40px;
    z-index: 99;
}

.thankyou-page-cont .expect_cont_sec .expect_cont:before {
    content: "";
    border-top: 3px solid #fff;
    position: absolute;
    z-index: 999;
    top: 5px;
    left: -40px;
    width: 14px;
    height: 8px;
    border-right: 3px solid #fff;
    transform: rotate(-220deg);
}
.we-did-contant li:after{
        top: 11px;
}
